

section{
  margin: 70px;
  height: 1000px;
  width: 1240px;
  border: solid;

    background-color: purple;
    background-image: url("https://images.pexels.com/photos/2422294/pexels-photo-2422294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    /* background-position: backgroung-position-x backgroung-position-y; */
    background-position-x: center;
    /* left , right , center */
    background-position-y: center;
    /* top center bottom */

    background-position: right center;
    background-position: right bottom;
    background-position: center center;
    background-position: center;


    background-size: cover;
    background-size: auto;
    background-size: contain;
    /* contains cover auto */

    background-size: 200px 400px;
    background-size: 50%;
    background-size: 100%;
    background-size: 50% 50%;
    background-size: 10%;
    background-size: 33%;
    background-color: 50%;

    /* auto contains cover */
}

body{
  background: url("https://images.pexels.com/photos/7524996/pexels-photo-7524996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  background-size: cover;
  background-attachment: fixed;
  color: white;

  /* fixed scroll  local */

}
