

section{
  height: 1000px;
  width: 1500px;
  border: solid;

    background-color: purple;
    background-image: url(" ");

    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    background-position: backgroung-position-x backgroung-position-y;
    background-position-x: left;
    /* left , right , center */
    background-position-y: bottom;
    /* top center bottom */

    background-position: right center;
    background-position: right bottom;
    background-position: center center;
    background-position: center;


    background-size: contain;
    /* contains cover auto */
    background-size: 200px 400px;
    background-size: 50%;
    background-size: 100%;
    background-size: 50% 50%;
    background-size: 10%;
    background-size: 33%;
    background-color: 50%;

    /* auto contains cover */


    body{
      background: url() , no-repeat bottom center;

      background-size: cover;
      background-attachment: fixed;
      color: white;

    }

    
    
}