body{
  /* 1.color name */
  background-color: blue;
  background-color: red;
  background-color: teal;

  /* 
  2. rgb
  r-red
  g-green
  b-blue
  each color range b/w 0-255

  */

  background-color: rgb(255, 255, 255);
  background-color: rgb(255,0, 0);
  background-color: rgb(0,255,0 );
  background-color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 0);
  background-color: rgb(25, 25, 25);

  /* 
  
  3. rgba 
  similar to rgb 
  a - alpha
  alpha - 0.0 to 1.0
  */

  background-color: rgba(255, 255, 255 , 1) ;
  background-color: rgba(255,0, 0 , 0.8);
  background-color: rgba(0,255,0 , 0.3 );
  background-color: rgba(0, 0, 255 , 0.1);
  background-color: rgba(0, 0, 0 , 1);
  background-color: rgb(25, 25, 25 , 0.5);

  /* 
  4. Hex
  syntax: #rrggbb
  range b/w 0-9 and a-f
  */

 background-color: #ff0000;
 background-color: #00ff00;
 background-color: #0000ff;
 background-color: #000000;
 background-color: #ffffff;
 background-color: #2ff43f;
 background-color: #554433;
 background-color: #a1b2c3;

 /* 

 4.1 hex
 syntax : #rgb
 range 0-9 and a-f
 
 */

 background-color: #f00;
 background-color: #0f0;
 background-color: #00f;
 background-color: #222;
 /* background-color: #abc; */

 /* 5. hsl 
 Hue : it is color circle of 360 deg

 - 0 for red
 - 125 for green
 - 225 for blue
 - 360 for red

 saturation
 - it defined the grayness to the color.
 as we decreases to 0 , it will become fully gray.

 Lightness
 - 0% for black / darkness
 - 50% for default (actual color)
 - 100% for white/lightness
 -
 */

 background-color: hsl(0, 100%, 50%);
 background-color: hsl(125, 100%, 50%);
 background-color: hsl(255, 100%, 50%);
 background-color: hsl(360, 100%, 50%);

/* 
HSLA
a means alpha..

*/

 background-color: hsla(0, 100%, 50% , 1);
 background-color: hsla(125, 100%, 50% , 0.5);
 background-color: hsla(255, 100%, 50% , 0.8);
 background-color: hslaa(360, 100%, 50% , 0.9);






}