

p::before{
  content: "Mr .";
  color: crimson;
  background-color: black;
  font-size: xx-large;
  font-family: cursive;
}

 p::after{
  content: " , you got selected the companmy with a package of 20lpa";
  background-color: yellow;
}

div::first-line{
  color: blue;
} 
 div::first-letter{
  color: red;
  font-size: 50px;
}

div::selection{
  color: brown;
  background-color: bisque;
}

li::marker{
  color: red;
} 