*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

section{
  height: 600px;
  width: 900px;
  background-color: navy;
  border: 2px solid black;

  display: grid;
  grid-template-columns:repeat(4,auto);
  grid-template-rows: repeat(3,auto);

  gap: 10px 10px;


}

section div{
  background-color: chocolate;
  border: solid black;
  color: white;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

section div:nth-child(1){
    background-color: seagreen;
    grid-row-start: 1;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-template-columns: 2;
    
}

section div:nth-child(2){
  background-color: seagreen;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 4;
}

section div:nth-child(3){
  background-color: crimson;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 4;
    grid-column-end: 5;
}

section div:nth-child(4){
  background-color: goldenrod;
}

section div:nth-child(5){
  background-color: crimson;
}

section div:nth-child(6){
  background-color: crimson;
}
section div:nth-child(7){
  background-color: goldenrod;
}
section div:nth-child(8){
  background-color: darkgreen;
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 4;
    grid-column-end: 5;
}
