/* nav-bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  
}

#mainNavBar {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 40px;
  padding-right: 40px; */
  margin-bottom: 2px;
  background-color: white;
}

/* right items */

.nav-Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
}

#logo img {
  margin-top: 4px;
  width: 108px;
  height: 26px;
}

#nav-menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu-items {
  display: flex;
  gap: 25px;
  float: left;
}

.menu-items .item-list {
  list-style: none;
  color: #262626;
}

.menu-items .item-list:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.right-items{
  display: flex;
  gap: 30px;
}

/* left items */

.left-items {
  display: flex;
  align-self: flex-end;
  gap: 5px;
  color: #262626;
  
}
.left-items span{
  padding: 14px;
}
.left-items span:hover{
  text-decoration-line:underline;
  text-decoration-thickness: 2px;
}
.search i{
  padding: 14px;
}
.left-items a i{
  color:#262626;
  /* width: 4px; */
  padding: 14px;
  
 }

 .login-logout i{
  color: #616161;
  border-color: #616161;
  border-style: solid;
  border-radius: 50%;
  padding: 9px;
 }

 /* Heading-section */

 .heading{
  width: 100vw;
  height: 59px;
  
}

.heading section{
   width: 100vw;
   height: 59px;
   background-color: #0067b8;
   align-content: center;
   text-align: center;
}
.heading section a{
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}


/* Hero section */

.hero-sec-container{
  height: 600px;
  width: 100vw;
 display: flex;
 justify-content: flex-end;
 background-image: url("./microsoftTab.avif");
  
}

.hero-section{
  width: 523.33px;
  height: 353.334px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-right: 80px;


 }

.hero-container{
  width: 527.27px;
  height: 400px;
  padding: 40px;
  align-content:center;
}

.hero-container span{
  width: 60px;
  height: 28px;
  background-color: #ffb900;
  font-size: 16px;
  padding: 6px 12px;
  margin: 0px 0px 8px;
  margin-top: 8px;
}

.info h1{
  font-size:30px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 0px 16px;
  margin-top: 8px;
}

.description{
  font-size: 16px;
  margin: 0px 0px 24px;
  line-height: 1.5;
}

.button1{
  width: 340px;
  height: 50px;
  background-color: #0067b8;
  align-content: center;
  text-align: center;
}

.button1 a{
  /* width: 312px;
  height: 40px; */
  background-color: #0067b8;
  color: white;
  font-size: 16px;
  text-decoration: none;
  
  
}

.hero-sliders{
 height: 54px;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 35px;
 }

 .hero-sliders i:nth-child(1){
  padding: 5px;
  border: solid black;
  border-radius: 50%;
  /* font-size: large; */
  
 }

 .hero-section i:nth-child(2){
  font-size: large;
 }

 /* service sec */

 .service-sec{
  width: 100vw;
  height: 210px;
  margin-top: 50px;
 }
 .service-sec-container{
  width: 100%;
  height: 210px;
 }

 .service-content{
  
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 100px; */
  column-gap: 50px;
  flex: 1;
 }

 .service-content li{
  height: 72px;
  width: 153px;
  margin: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .service-content li a{
  font-size: 16px;
  text-wrap: nowrap;
  color: #0067b8;
 }

  .service-content li img{
    height: 40px;
    width: 40px;
}

/* Card Section */

.card-section{
  width: 100vw;
  height: 435.96px;
  border: solid red;
  padding: 0px 40px 0px;
  display: flex;
  justify-content: space-around;
}

.cards-container
{
  width: 319.91px;
  height: 435.96px;
  border: solid crimson;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-container h2{
font-size:24px ;

}

.cards-container div{
  font-size: 16px;
}

.cards-container div a{
  padding: 10px 12px;
  background-color: #0067b8;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 3px;
}

/* =======================gaming xbox advertisemnt section   ----=================== */
.x-box-container{
  margin: 69px;
  
  height: 600px;
  /* width: 100vw; */
 display: flex;
 justify-content: flex-start;
 background-image: url("./Xbox-Controller-Valentine-Hero-2120x1190_VP4-1260x600.avif");
  
}

.xbox-section{
  width: 523.33px;
  height: 353.334px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 70px;


 }

.xbox-container{
  width: 527.27px;
  height: 400px;
  padding: 40px;
  align-content:center;
}



.info-xbox h1{
  font-size:30px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 0px 16px;
  margin-top: 8px;
}

.description{
  font-size: 16px;
  margin: 0px 0px 24px;
  line-height: 1.5;
}

.button1{
  width: 340px;
  height: 50px;
  background-color: #0067b8;
  align-content: center;
  text-align: center;
}

.button1 a{
  /* width: 312px;
  height: 40px; */
  background-color: #0067b8;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

/* Microsoft footer */

.main-footer{
  width: 100vw;
  height: 423.69px;
  background-color: #f2f2f2;
  /* border: solid black; */
  /* padding-left: 40px;
  padding-right:40px ; */

}

.footer-container{
  width: 100%;
  /* border: solid red; */
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-left: 60px;
  padding-right:80px ;
}

.footer-content-container{
  /* border: solid crimson; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

.footer-content{
  display: flex;
  flex-direction: column;
  padding: 36px 0px 4px;
  gap: 17px;
}

.footer-content h5{
  color: #616161;
  font-size: 15px;
  font-weight: 570;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-content p{
color: #616161;
font-size: 11px;
}

.footer-content p:hover{
   text-decoration: underline;
   cursor: pointer;
  }

.base-footer{
  width: 100%;
  height: 87px;
  background-color: #f2f2f2;
  text-align: center;
  align-content: center;
  color: #616161;
  font-size: large;
}








