/* nav-bar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

#mainNavBar{
  width: 100vw;
  height: 54px;
  /* border: 2px solid red; */
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 2px;
  background-color: white;
}
#logo img{
  width: 108px;
  height: 23px;
}
.nav-Container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  

}

#nav-menu{
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 871px;
  height: 49px;
  
}

.menu-items{
  display: flex;
  gap: 20px;
  
}

.menu-items .item-list{
  list-style: none;

  
}






.left-items{
  display: flex;
  margin-left: 400px;
  align-self: flex-end;
  gap: 20px;
  width:400px;
 
  
  
}

