*{
  margin: 0;
  padding: 0;
}

#navbar{
width: 100vw;
height: 54px;
background-color: #000000;
padding: 12px 0px;
}

#logo{
  float: left;
  color: white;
  font-size: x-large;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 40px;
  text-transform: capitalize;

}

.leftmenu{
  float: left;
  color: white;
  margin: 10px;
  padding: 10px;
}
.right{
  float: right;
}
#signup{
  background-color: white;
  color: black;
  border-radius: 20px;
}
.rightmenu{
  float: inline-start;
  color: white;
  margin: 10px;
  padding: 10px;
  margin-right: 20px;

}

.rightmenu:hover{
 background-color: #2b2a2a;
 border-radius: 20px;
 cursor: pointer;
 
}

.leftmenu:hover{
  background-color: #242323;
  border-radius: 20px;
  cursor: pointer;
  
 }
