*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 94px;
  width: 100vw;
  background-color: #fff;
  padding: 20px 16px 16px 0px;

}
.logo{
  display: inline-block;

  
}
.logo img {
  margin: 0px 10px 10px 80px;
  height: 60px;

}

.menu {
  float: right;

}

.menu a{
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
  text-decoration: none;
  font-family: sans-serif 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #000000;

}

.menu a:hover{
  cursor: pointer;
  color: rgb(97, 95, 95);
}